<!DOCTYPE html>
<html>
<head>
	<title>Personality Quiz - Fairmount Water Works</title>
	<meta name="viewport" content="target-densitydpi=device-dpi, 
                                   width=device-width, 
                                   initial-scale=1.0, 
                                   minimum-scale=1.0, 
                                   maximum-scale=1.0, 
                                   minimal-ui, 
                                   user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" />

    <link href="./dist/css/main.css" rel="stylesheet" />
</head>
<body>
    <script id="result-template" type="text/x-jQuery-tmpl">
        <h2>Your Match Made in the River</h2>
        <h1>${name}</h1>
        <h3>${latin}</h3>
        <p>${body}</p>
        <button class="back-to-start">Back to Start <img src="/assets/images/icon-arrow-white.svg" alt="arrow"></button>
    </script>

    <script id="option-template" type="text/x-jQuery-tmpl">
        <li
        ><button class="answer-btn"  {{if id}} data-next="${id}" {{/if}}
            {{if resultId}} data-result="${resultId}" {{/if}}>${answer}</button></li>
    </script>

    <script id="quiz-template" type="text/x-jQuery-tmpl">
        <div class="question">${text}</div>
        <ul id="options"></ul>

        <div class="progress">Step <span class="progress-current">${step}</span></div>
    </script>

    <script src="./js/lib/jquery-1.11.3.min.js"></script>
    <script src="./js/lib/jquery.loadTemplate.min.js"></script>
    <script src="./js/lib/createjs-2015.11.26.min.js"></script>
    
    <script src="./js/controllers/utilities.js"></script>
    <script src="./js/controllers/navigation.js"></script>
    <script src="./js/controllers/questions.js"></script>
    <script src="./js/controllers/result.js"></script>
    <script src="./js/app.js"></script>
    
    <div id="gui">
        <div class="home-button fade">
            <svg version="1.1"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
             x="0px" y="0px" width="49.1px" height="49.1px" viewBox="0 0 49.1 49.1" enable-background="new 0 0 49.1 49.1"
             xml:space="preserve">
            <defs>
            </defs>
            <g>
                <g>
                    <g>
                        <path fill="#FFFFFF" d="M37.3,24L25.6,12.4c-0.6-0.6-1.6-0.6-2.2,0L11.8,24c-0.6,0.6-0.4,1.1,0.5,1.1h2.4v8.9
                            c0,0.6,0,1.2,1.2,1.2h5.6v-9h5.9v9h5.9c0.9,0,0.9-0.5,0.9-1.2v-8.9h2.4C37.6,25.1,37.9,24.6,37.3,24z"/>
                    </g>
                    <circle fill="none" stroke="#FFFFFF" stroke-width="2" stroke-miterlimit="10" cx="24.6" cy="24.6" r="23.6"/>
                </g>
            </g>
            </svg>
        </div>
        <div class="logo"><img src="/assets/images/logo.svg" alt="logo"></div>
    </div>
    <div id="content">
        <div id="introduction" class="fade in">
            <p>You'll be presented with a series of statements to find out which river organism is most like you. In each pair, choose the statement that best describes you and follow the path until your a matched with a profile of your organism.</p>
            <button class="start-quiz">Take the Quiz <img src="/assets/images/icon-arrow-blue.svg" alt="arrow"></button>
        </div>
        <div id="questions"></div>
        <div id="calculating" class="fade">
            <h2>Calculating Your River Character</h2>
        </div>
        <div id="results" class="fade"></div>
    </div>
    <div id="animation"></div>
    <div id="water" data-water-level="0">
        <div class="sunholder">
        <div class="sun"></div>
        <div class="raybase ray1" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray2" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray3" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray4" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray5" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray6" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray7" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray8" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray9" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray10" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray11" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray12" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray13" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray14" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray15" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray16" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray17" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray18" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray19" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray20" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray21" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray23" data-raybase-position="0"><div class="ray"></div></div>
        <div class="raybase ray24" data-raybase-position="0"><div class="ray"></div></div>
        </div>
         <div id="bubbles" data-bubble-height="0">
            <div class="bubble x1"></div>
            <div class="bubble x2"></div>
            <div class="bubble x3"></div>
            <div class="bubble x4"></div>
            <div class="bubble x5"></div>
            <div class="bubble x6"></div>
            <div class="bubble x7"></div>
            <div class="bubble x8"></div>
            <div class="bubble x9"></div>
            <div class="bubble x10"></div>
            <div class="bubble x11"></div>
            <div class="bubble x12"></div>
            <div class="bubble x13"></div>
            <div class="bubble x14"></div>
        </div>
    </div>
</body>
</html>