#introduction {
	text-align: center;
	p {
		color: $dark-blue;
	}
	button {
		background: none;
		border: none;
		text-transform: uppercase;
		color: $blue;
		font-size: 2.2em;
		img {
			padding-left: 10px;
			height: 21px;
		}
	}
}