

.question {
	@extend p;
	color: $dark-blue;
	text-align: center;
	font-size: 2em;
	//font-weight: 300;
	margin-bottom: 30px;
}

#options {
	list-style: none;
    padding-left: 0;
    text-align: center;
    position: relative;
    z-index: 2;
    li {
    	&:first-of-type {
    		margin-bottom: 1.25em;
    	}

    }
}

.answer-btn {
    border: none;
    background: none;
    color: $blue;
    text-transform: uppercase;
    font-size: 2.3em;
}

.progress {
	position: absolute;
    bottom: 30px;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    font-size: 1.15em;
    width: 114px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}