#water {
	position: absolute;
	bottom: 0px;
	width: 100vw;
	height: 50px;
	background: $blue;  //linear-gradient(rgba(103, 166, 216, 0.5), rgba(53, 93, 165, 0.9))
	&:before {
		content: "";
	  	position: absolute;
	  	left: 0;
	  	bottom: 0;
	  	right: 0;
	  	background-repeat: repeat-x;
    	height: 100px;
    	background-size: 68px 50px;
    	background-image: radial-gradient(circle at 34px -9px, transparent 34px, $blue 33px);
    	animation: slidein 2.5s infinite alternate;
	}
}

@keyframes slidein {
	from {
		left: 0;
		width: 110%;
	}
	
	to {
		left: -40px;
		width: 110%;
	}
}