#water[data-water-level="0"] {
	@include water(15vh, $blue, $blue);
}


#water[data-water-level="1"] {
	@include water(30vh, $blue, $blue);
}

#water[data-water-level="2"] {
	@include water(45vh, $transparent-blue, $dark-blue);
}

#water[data-water-level="3"] {
	@include water(60vh, $transparent-blue, $dark-blue);
}

#water[data-water-level="4"] {
	@include water(75vh, $transparent-blue, $dark-blue);
}

#water[data-water-level="5"] {
	@include water(90vh, $transparent-blue, $dark-blue);
}

@keyframes slidein {
	from {
		left: 0;
		width: 110%;
	}
	
	to {
		left: -40px;
		width: 110%;
	}
}