@font-face {font-family: "TradeGothic LT CondEighteen";
    src: url("../fonts/e72e8eda063ac8bb688e72544c5bca28.eot");
    src: url("../fonts/e72e8eda063ac8bb688e72544c5bca28.eot?#iefix") format("embedded-opentype"),
    url("../fonts/e72e8eda063ac8bb688e72544c5bca28.woff2") format("woff2"),
    url("../fonts/e72e8eda063ac8bb688e72544c5bca28.woff") format("woff"),
    url("../fonts/e72e8eda063ac8bb688e72544c5bca28.ttf") format("truetype"),
    url("../fonts/e72e8eda063ac8bb688e72544c5bca28.svg#TradeGothic LT CondEighteen") format("svg");
}

* {
    font-family: 'TradeGothic LT CondEighteen';
}
h1 {
    font-size: 48px;
    line-height: 1.8;

    small {
        color: #939598;
        font-size: 36px;
        display: block;
    }
}
p {
    font-family: 'Adobe Garamond Pro';
    font-size: 21px;
    line-height: 1.8;
}
